<!-- meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- title -->
<title>@@pageTitle</title>
<meta content="Coderthemes" name="author" />
<meta content="A fully featured multi purpose template" name="description" />

<!-- theme favicon -->
<link rel="shortcut icon" href="@@webRoot/assets/images/favicon.png">


<!-- third party plugins -->
<link rel="stylesheet" href="@@webRoot/assets/css/vendor.min.css" type="text/css" />

<!-- theme css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.min.css" type="text/css" />