<ul class="navbar-nav align-items-lg-center @@classList">
    <li class="nav-item">
        <a class="nav-link" href="/index.html">Home</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarLandings" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Landings<i data-feather="chevron-down" class="d-inline-block icon icon-xxs ms-1 mt-lg-0 mt-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="navbarLandings">
            <div class="row mx-0">
                <div class="col-md-6 p-lg-0">
                    <label class="nav-title fw-semibold fs-14 text-dark text-uppercase mb-3">Web</label>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home-app.html" aria-labelledby="navbarLandings">
                                <div class="d-flex align-items-center">
                                    <span class="bg-soft-primary text-primary avatar avatar-xs shadow rounded icon icon-with-bg icon-xs me-3 flex-shrink-0">
                                        @@include("../assets/images/icons/duotone-icons/devices/iPhone-X.svg")
                                    </span>
                                    <div class="flex-grow-1">
                                        App
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link mt-1" href="/home-saas.html" aria-labelledby="navbarLandings">
                                <div class="d-flex align-items-center">
                                    <span class="bg-soft-success avatar avatar-xs shadow rounded icon icon-with-bg icon-xs text-success me-3 flex-shrink-0">
                                        @@include("../assets/images/icons/duotone-icons/devices/Laptop.svg")
                                    </span>
                                    <div class="flex-grow-1">Saas Modern</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-1" href="/home-saas2.html" aria-labelledby="navbarLandings">
                                <div class="d-flex align-items-center">
                                    <span class="bg-soft-info avatar avatar-xs shadow rounded icon icon-with-bg icon-xs text-info me-3 flex-shrink-0">
                                        @@include("../assets/images/icons/duotone-icons/devices/Display#2.svg")
                                    </span>
                                    <div class="flex-grow-1">Saas Classic</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-1" href="/home-startup.html" aria-labelledby="navbarLandings">
                                <div class="d-flex align-items-center">
                                    <span class="bg-soft-orange avatar avatar-xs shadow rounded icon icon-with-bg icon-xs text-orange me-3 flex-shrink-0">
                                        @@include("../assets/images/icons/duotone-icons/devices/Diagnostics.svg")
                                    </span>
                                    <div class="flex-grow-1">Startup</div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-1" href="/home-software.html" aria-labelledby="navbarLandings">
                                <div class="d-flex align-items-center">
                                    <span class="bg-soft-warning avatar avatar-xs shadow rounded icon icon-with-bg icon-xs text-warning me-3 flex-shrink-0">
                                        @@include("../assets/images/icons/duotone-icons/shopping/Box#2.svg")
                                    </span>
                                    <div class="flex-grow-1">Software</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 p-lg-0">
                    <label class="nav-title fw-semibold fs-14 text-dark text-uppercase my-3 mt-md-0">Services</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/home-agency.html" aria-labelledby="navbarLandings">
                                        <div class="d-flex align-items-center">
                                            <span class="bg-soft-secondary avatar avatar-xs shadow rounded icon icon-with-bg icon-xs text-secondary me-3 flex-shrink-0">
                                                @@include("../assets/images/icons/duotone-icons/design/Color-profile.svg")
                                            </span>
                                            <div class="flex-grow-1">Agency</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mt-1" href="/home-coworking.html" aria-labelledby="navbarLandings">
                                        <div class="d-flex align-items-center">
                                            <span class="bg-soft-info avatar avatar-xs shadow rounded icon icon-with-bg icon-xs text-info me-3 flex-shrink-0">
                                                @@include("../assets/images/icons/duotone-icons/home/Home.svg")
                                            </span>
                                            <div class="flex-grow-1">Coworking</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mt-1" href="/home-crypto.html" aria-labelledby="navbarLandings">
                                        <div class="d-flex align-items-center">
                                            <span class="bg-soft-orange avatar avatar-xs shadow rounded icon icon-with-bg icon-xs text-orange me-3 flex-shrink-0">
                                                @@include("../assets/images/icons/duotone-icons/shopping/Bitcoin.svg")
                                            </span>
                                            <div class="flex-grow-1">Crypto</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mt-1" href="/home-marketing.html" aria-labelledby="navbarLandings">
                                        <div class="d-flex align-items-center">
                                            <span class="bg-soft-primary avatar avatar-xs shadow rounded icon icon-with-bg icon-xs text-primary me-3 flex-shrink-0">
                                                @@include("../assets/images/icons/duotone-icons/communication/Urgent-mail.svg")
                                            </span>
                                            <div class="flex-grow-1">Marketing</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mt-2" href="/home-portfolio.html" aria-labelledby="navbarLandings">
                                        <div class="d-flex align-items-center">
                                            <span class="bg-soft-danger avatar avatar-xs shadow rounded icon icon-with-bg icon-xs text-danger me-3 flex-shrink-0">
                                                @@include("../assets/images/icons/duotone-icons/design/Image.svg")
                                            </span>
                                            <div class="flex-grow-1">Portfolio</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarPages" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Pages<i data-feather="chevron-down" class="d-inline-block icon icon-xxs ms-1 mt-lg-0 mt-1"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarPages">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="accountPages" role="button" data-bs-toggle="dropdown" aria-labelledby="navbarPages"
                        aria-haspopup="true" aria-expanded="false">
                        Account
                        <div class="arrow"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="accountPages">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/account-login.html">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/account-signup.html">SignUp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/account-forget-password.html">Forget Password</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/account-confirm.html">Confirm Account</a>
                            </li>
                            <li class="nav-item">
                                <hr class="my-2" />
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard.html">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/account-settings.html">Settings</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="blogPages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  aria-labelledby="navbarPages">
                        Blog
                        <div class="arrow"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="blogPages">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/blog.html" aria-labelledby="blogPages">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/blog-post.html" aria-labelledby="blogPages">Blog Post</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <hr class="my-2" />
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company.html" aria-labelledby="navbarPages">Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact.html" aria-labelledby="navbarPages">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/career.html" aria-labelledby="navbarPages">Career</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pricing.html" aria-labelledby="navbarPages">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="portfolioPages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-labelledby="navbarPages">
                        Portfolio
                        <div class="arrow"></div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="portfolioPages">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/portfolio-grid.html" aria-labelledby="portfolioPages">Portfolio Grid</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/portfolio-masonry.html" aria-labelledby="portfolioPages">Portfolio Masonry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/portfolio-item.html" aria-labelledby="portfolioPages">Portfolio Item</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <hr class="my-2" />
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help-desk.html" aria-labelledby="navbarPages">Help</a>
                </li>
            </ul>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDocs" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Docs<i data-feather="chevron-down" class="d-inline-block icon icon-xxs ms-1 mt-lg-0 mt-1"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDocs">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/docs/index.html" aria-labelledby="navbarDocs">Getting Started</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/bootstrap.html" aria-labelledby="navbarDocs">Components</a>
                </li>
                <li class="nav-item">
                    <hr class="my-2" />
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/change-log.html" aria-labelledby="navbarDocs">Change Log</a>
                </li>
            </ul>
        </div>
    </li>

    @@if (context.showDownload === true){<li class="nav-item ms-2">
        <a class="btn @@ctaButtonClass" href="#">Download</a>
    </li>}

</ul>